@model ProductViewModel



<div class="container-fluid py-4">
    <div class="row">
        <div class="col-12">
            <div class="card my-4">
                <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                    <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                        <h6 class="text-white text-capitalize ps-3">Bảng Sản Phẩm</h6>
                    </div>
                </div>
                <div class="card-body px-0 pb-2">
                    <div class="table-responsive p-0">
                        <table class="table align-items-center mb-0">
                            <thead>
                                <tr>
                                    <th class="text-uppercase text-dark text-xxs font-weight-bolder opacity-7">id</th>
                                    <th class="text-uppercase text-dark text-xxs font-weight-bolder opacity-7">Ảnh</th>
                                    <th class="text-left text-uppercase text-dark text-xxs font-weight-bolder opacity-7">Tên</th>
                                    <th class="text-center text-uppercase text-dark text-xxs font-weight-bolder opacity-7">Thương Hiệu</th>
                                    <th class="text-center text-uppercase text-dark text-xxs font-weight-bolder opacity-7">Loại</th>
                                    <th class="text-center text-uppercase text-dark text-xxs font-weight-bolder opacity-7">Giá</th>
                                    <th class="text-left text-uppercase text-dark text-xxs font-weight-bolder opacity-7" colspan="2" >Hanh Dong</th> 
                                </tr>
                            </thead>
                            
                            <tbody>
                              
                                @foreach (var item in Model.Products)
                                {
                                   
                                    <tr>
                                    <td>
                                        <div class="d-flex px-2 py-1">                                     
                                            <div class="d-flex flex-column justify-content-center">
                                                <h6 class="mb-0 text-sm">gg</h6>
                                                <p class="text-xs text-primary mb-0">@item.Id</p>
                                            </div>

                                                  
                                             
                                        </div>
                                               
                                          
                                      
                                    </td>
                                     <td>
                                         <div>
                                                <img src="@item.Images.ToArray()[0].Image1" class="avatar avatar-sm me-3 border-radius-lg" alt="anh">
                                         </div>  
                                            
                                    </td>
                                    <td>
                                        <p class="text-xs font-weight-bold mb-0">@item.NameProduct</p>
                                          <p class="text-xs text-primary mb-0"></p>
                                    </td>
                                    <td class="align-middle text-center text-sm">
                                        <span class="badge badge-sm bg-gradient-secondary">@item.Brand.BrandName</span>
                                    </td>
                                    <td class="align-middle text-center">
                                        <span class="text-primary text-xs font-weight-bold">@item.Category.CatName</span>
                                    </td>
                                        <td class="align-middle text-center">
                                            <span class="text-primary text-xs font-weight-bold">@item.Price</span>
                                        </td>
                                    <td class="align-middle">
                                        <a asp-action="Edit" asp-route-id="@item.Id" class="text-primary text-center font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user">
                                            Edit
                                        </a>
                                    </td>
                                    <td class="align-middle">
                                        <form asp-action="Delete" method="post" asp-route-id="@item.Id"  onsubmit="return confirm('ban co muon xoa cai nay khong')"  class="text-primary text-center font-weight-bold text-xs" >
                                           <input value="Xoa" type="submit"/>
                                        </form>
                                    </td>
                                </tr>}
                               
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        @Html.PagedListPager(Model.Products , page => Url.Action("Index",new { page, sort = Model.Sort, cat = Model.Cat, query=Model.Query }),new PagedListRenderOptions {
        LiElementClasses = new string[] { "page-item" },
        PageClasses = new string[] { "page-link" },
        UlElementClasses=new string[] { "pagination justify-content-center mb-3" }
        })
    </div>
   
    <footer class="footer py-4  ">
        <div class="container-fluid">
            <div class="row align-items-center justify-content-lg-between">
                <div class="col-lg-6 mb-lg-0 mb-4">
                    <div class="copyright text-center text-sm text-muted text-lg-start">
                        © <script>
                              document.write(new Date().getFullYear())
                        </script>,
                        made with <i class="fa fa-heart"></i> by
                        <a href="https://www.creative-tim.com" class="font-weight-bold" target="_blank">Creative Tim</a>
                        for a better web.
                    </div>
                </div>
                <div class="col-lg-6">
                    <ul class="nav nav-footer justify-content-center justify-content-lg-end">
                        <li class="nav-item">
                            <a href="https://www.creative-tim.com" class="nav-link text-muted" target="_blank">Creative Tim</a>
                        </li>
                        <li class="nav-item">
                            <a href="https://www.creative-tim.com/presentation" class="nav-link text-muted" target="_blank">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a href="https://www.creative-tim.com/blog" class="nav-link text-muted" target="_blank">Blog</a>
                        </li>
                        <li class="nav-item">
                            <a href="https://www.creative-tim.com/license" class="nav-link pe-0 text-muted" target="_blank">License</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</div>